<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %></p>
<p>I was born on <%= @owner.birthdate %></p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>

<footer class="row">
<section class="small-2 columns">Copyright 2013</section>
<section class="small-4 columns">All rights reserved</section>
</footer>
