<% content_for :title do %>About<% end%>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New zeland. He left New Zeland for ebgland, excelled at the University of Mopery, and served the Royal Loamshire Regiment. 
While in service, he invented the kanuten valve used in the processing of unobtainium for industrial 
use. He founded Acme Manufactoribg, later acquired by the Advent corporation, to commercialize the 
product. Mr. Kadigan is now retired and lives in Middlehampton where raises Gradium frieda.</p>
<p>His favourite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consecutor adipiscing elit, sed do eiusmod temper incidunt ut labore et dolore 
magna aliqua.
</p> 
